.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .button-container {
        width: 405.76px;
        color: black;
        font-weight: bold;
    }

    @media (max-width: 440px) {
        .logo {
            width: 300px;
            margin-bottom: 20px;
        }
        .button-container {
            width: 80px;
            color: black;
            font-weight: bold;
        }
    }
}
